body{
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 2%;
    transition-duration: 1s;
    

}
body.dark{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 35, 35);
    text-align: center;
    padding: 2%;
    transition-duration: 1s;


}
.tamanho60px{
    height: 60px;
}
.colorPrincipal2.dark{
    background-color: rgb(12, 122, 122);
}
.nave.dark.tema {
    transition-duration: 0.5s;

}
.tema:hover {
    color: rgb(255, 255, 255);
    transform: rotate(180deg);
}
.listaGrid4-1{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}
.tamanho410px{
    height: 410px;
}
.margin20px{
    margin: 20px;
}
.pading10{
    padding: 10px;
}
.tamanho100px {
    height: 100px;
}
.listaCarrinho.dark{
    background-color:  rgb(35, 64, 80);
}
.animacaoGirar {
 animation: girar 2s linear infinite;
 
}
.pointerCursor{
    cursor: pointer; 
}
.borderNone{
    border: none; 
}
.textoDecoracaoButtonNone{
    text-decoration: none;
}
.colorButtonRemover{
    background-color: rgb(57, 141, 141); 
}
.textoNone{
    text-decoration: none;
}
.pading100{
    padding: 100px;
}
.corTextoPreto{
    color: black;
}
.corTextoPreto:hover{
    color: rgb(198, 255, 252);
    cursor: pointer;
    transition-duration: 0.5s;
}


.colorPrincipal{
    background-color: rgb(141, 180, 224);
}
.colorPrincipal.dark{
    background-color:  rgb(35, 64, 80)
}
.sombra.dark{
        box-shadow: 0px 0px 0px rgb(82, 79, 79);
}
.colorPrincipal2{
    background-color: rgb(30, 207, 207);
}
.colorPrincipal2Texto{
     color: rgb(30, 207, 207);
}
.collorPi{
    color: rgb(147, 188, 224)
}
.colorC2{
    color: rgb(4, 138, 138);
}
.colorC2.dark{
    color: rgb(124, 190, 190)

}
.bordaCircular{
    border-radius: 8px;
}
.tamanho200-200{
    
    width: 200px;
    height: 200px;
}
.itemFlexRowCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.separarG15{
     gap: 15%;
}
.alinhaCentro{
    align-items: center;
}
.sombra{
    box-shadow: 0px 3px 3px rgb(82, 79, 79);

}
.duracaoAnimacao{
    transition-duration: 1s;

}
.buttonAdicionar:disabled:hover{
    background-color: rgb(37, 37, 37);
    
}
.nave.dark .tema :hover {
    color: rgb(0, 0, 0);
    transition-duration: 0.5s;
    cursor: pointer;

}
.navLink.dark :hover{
        color: rgb(117, 216, 255);
        transition-duration: 0.5s;
        cursor: pointer;
    }
.buttonAdicionar{

  padding: 10px 20px; 
  cursor: pointer; 
  text-decoration: none;
  background-color: transparent; 
  color: #0b6ed8; 
  border: 2px solid #0161c7; 
}
.buttonAdicionar:focus{
       
    background-color: rgb(198, 255, 252);
    transition-duration: 0.3s;
    width: 100px;
    height: 40px;
    box-shadow: 0px 3px 3px rgb(82, 79, 79);
    outline: none;
}
.buttonAdicionar:hover{
    transition-duration: 0.3s;
    width: 100px;
    height: 40px;
    box-shadow: 0px 3px 3px rgb(82, 79, 79);
    background-color: #007bff; /* Mudar cor de fundo */
    color: white; /* Mudar cor do texto para branco */
}
.buttonAdicionar:disabled{
    background-color: rgb(66, 66, 66);
    color: white;
    pointer-events: none;
    cursor: not-allowed; 
    opacity: 0.6; 
}


.navLink.dark{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 100px;
    height: 1px;
    width: 1px;
    border: 0%;
    margin: 0%;
}

.produtoLista.dark{
    background-color: rgb(35, 64, 80);
    margin: 20px;
    padding: 20px;
    height: 410px;
    box-shadow: 0px 0px 0px rgb(82, 79, 79);
    transition-duration: 1s;

}
.produtoLista.dark .buttonAdicionar {
    border-color: rgb(113, 205, 255);
    color: rgb(113, 205, 255);
}
.produtoLista.dark .buttonAdicionar:hover {
    background-color: #a1c7f0;
    border-color: rgb(113, 205, 255);
    color: rgb(0, 0, 0);
}

.colorButtonRemover:hover{
    background-color: rgb(219, 22, 22);
    transition-duration: 0.3s;
    width: 100px;
    height: 40px;
    box-shadow: 0px 3px 3px rgb(82, 79, 79);
}

@media (max-width: 1024px){
    ul{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 768px){
    ul{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px){
    ul{
        grid-template-columns: repeat(1, 1fr);
    }
}
@keyframes girar {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg); 
  }
}